menuentry "GhostOS portable image" {
    insmod part_gpt
    insmod part_msdos
    insmod ext2
    insmod ntfs
    insmod fat
    insmod chain

    search --no-floppy --file --set=ghostos_host /ghostos.img
    loopback ghostos_loop ($ghostos_host)/ghostos.img
    chainloader (ghostos_loop)/EFI/BOOT/BOOTX64.EFI
}

