menuentry "SynOS portable image" {
    insmod part_gpt
    insmod part_msdos
    insmod ext2
    insmod ntfs
    insmod fat
    insmod chain

    search --no-floppy --file --set=synos_host /synos.img
    loopback synos_loop ($synos_host)/synos.img
    chainloader (synos_loop)/EFI/BOOT/BOOTX64.EFI
}

